    body{    background-color: white;
             background-repeat:repeat;
            font-family: arial,helvetica, sans-serif;
         }


        .container{
            background-color: black;
            margin-left: auto;
            margin-right: auto;
            padding:40px;
            }

        .separate{
            padding: 40px;
            position: relative;
            width: 100%;
            margin-left: auto;
            margin-right: auto;
            padding-bottom: 100px;

            }
        h1{
            background-color: white;
            color: white;
            padding: 10px;
            text-align: center;
            font-weight:700;
            border-radius: 10px;
            font-family: futura;

        }
        h2{
            color: white;
            text-align: center;
            font-family: futura;

        }

        h3{
            color: white;
            font-family: futura;
            text-align: center;
        }

        h4{
            text-align: right;
        }
        h6{
            text-align: center;
        }
        
        h5{text-align: center;}

        .cathead{
        margin-left: auto;
        margin-right: auto;

            }
        p{
            font-family: futura;
            color: white;
        }

        img{
        display: block;
        margin-left: auto;
        margin-right: auto }

        }

        .title{
            padding-top: 300px;
        }